.Media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#twitch-embed {
    margin: 10px;
    width: 100%;
}

#partner-schools {
    margin-top: 10%;
}
